# http://nginx.org/en/docs/http/ngx_http_rewrite_module.html
if ($args = "") {

    # http://nginx.org/en/docs/http/ngx_http_core_module.html
    error_page 404 = @fetch;
    root {{ http.server.proxy_store }}/$server_name;
}
