server {
    # http://nginx.org/en/docs/http/ngx_http_core_module.html
    include snippets/ssl.conf;
    server_name ajax.googleapis.com;

    location / {
        include snippets/static_file_proxy.conf;

        # http://nginx.org/en/docs/http/ngx_http_rewrite_module.html
        if ($args != "") {

            # http://nginx.org/en/docs/http/ngx_http_proxy_module.html
            proxy_pass https://ajax.proxy.ustclug.org;
        }
    }

    location @fetch {
        internal;

        proxy_pass https://ajax.proxy.ustclug.org;
        proxy_store {{ http.server.proxy_store }}/$server_name$uri;
    }
}
