server {
    # http://nginx.org/en/docs/http/ngx_http_core_module.html
    listen {{ conda.port }};
    recursive_error_pages on;
    resolver 114.114.114.114 ipv6=off;
    root {{ http.server.proxy_store }}/conda.anaconda.org;

    # https://conda.org/learn/ceps/cep-0016/
    location ~ ^/[a-zA-Z0-9\-]+/(emscripten-32|linux-32|linux-64|linux-aarch64|linux-armv6l|linux-armv7l|linux-ppc64|linux-ppc64le|linux-riscv32|linux-riscv64|linux-s390x|noarch|osx-64|osx-arm64|win-32|win-64|win-arm64)/repodata_shards\.msgpack\.zst$ {
        log_not_found off;
        return 404;
    }

    location ~ ^/[a-zA-Z0-9\-]+/label/*\.(conda|tar\.bz2)$ {
        error_page 404 = @fetch;
        log_not_found off;
    }

    location ~ ^/(auto|biobakery|bioconda|c4aarch64|caffe2|conda-forge|deepmodeling|dglteam|fastai|fermi|idaholab|matsci|menpo|MindSpore|mordred-descriptor|msys2|numba|ohmeta|omnia|Paddle|peterjc123|plotly|psi4|pytorch-lts|pytorch-test|pytorch|pytorch3d|pyviz|qiime2|rapidsai|rdkit|simpleitk|speleo3|stackless|ursky)/*\.(conda|tar\.bz2)$ {
        error_page 404 = @fetch_mirror;
        log_not_found off;
    }

    location ~ ^/nvidia/*\.(conda|tar\.bz2)$ {
        error_page 404 = @fetch_nvidia;
        log_not_found off;
    }

    location ~ \.(conda|tar\.bz2)$ {
        error_page 404 = @fetch;
        log_not_found off;
    }

    # http://nginx.org/en/docs/http/ngx_http_proxy_module.html
    location / {
        proxy_pass https://conda.anaconda.org;
        proxy_ssl_server_name on;
    }

    location @fetch {
        internal;

        proxy_pass https://conda.anaconda.org$request_uri;
        proxy_ssl_server_name on;
        proxy_store {{ http.server.proxy_store }}/conda.anaconda.org$uri;
    }

    location @fetch_mirror {
        error_page 404 = @fetch;
        internal;
        log_not_found off;

        proxy_intercept_errors on;
        proxy_next_upstream http_502;
        proxy_pass https://upstream_anaconda/anaconda/cloud$request_uri;
        proxy_store {{ http.server.proxy_store }}/conda.anaconda.org$uri;
    }

    location @fetch_nvidia {
        error_page 404 = @fetch;
        internal;
        log_not_found off;

        proxy_intercept_errors on;
        proxy_pass https://mirrors.sustech.edu.cn/anaconda-extra/cloud$request_uri;
        proxy_store {{ http.server.proxy_store }}/conda.anaconda.org$uri;
    }
}

# http://nginx.org/en/docs/http/ngx_http_upstream_module.html
upstream upstream_anaconda {
    keepalive 5;
    resolver 114.114.114.114 ipv6=off;
    {%- for host in conda.mirrors %}
    server {{ host }}:443;
    {%- endfor %}
}
