server {
    # http://nginx.org/en/docs/http/ngx_http_core_module.html
    listen {{ conda.port }};
    recursive_error_pages on;
    resolver 114.114.114.114 ipv6=off;
    root {{ http.server.proxy_store }}/conda.anaconda.org;

    # https://conda.org/learn/ceps/cep-0016/
    location ~ /repodata_shards\.msgpack\.zst$ {
        log_not_found off;
        return 404;
    }

    location ~ ^/({{ conda.channels | join("|") }})/({{ conda.platforms | join("|") }})/repodata\.json\.zst$ {
        error_page 404 = @fetch_mirror_no_cache;
        log_not_found off;
    }

    location ~ ^/nvidia/.+/repodata\.json\.zst$ {
        error_page 404 = @fetch_nvidia_no_cache;
        log_not_found off;
    }

    location ~ ^/({{ conda.channels | join("|") }})/({{ conda.platforms | join("|") }})/.+\.(conda|tar\.bz2)$ {
        error_page 404 = @fetch_mirror;
        log_not_found off;
    }

    location ~ ^/nvidia/.+\.(conda|tar\.bz2)$ {
        error_page 404 = @fetch_nvidia;
        log_not_found off;
    }

    location ~ \.(conda|tar\.bz2)$ {
        error_page 404 = @fetch;
        log_not_found off;
    }

    # http://nginx.org/en/docs/http/ngx_http_proxy_module.html
    location / {
        proxy_pass https://conda.anaconda.org;
        proxy_ssl_server_name on;
    }

    location @fetch {
        internal;

        proxy_pass https://conda.anaconda.org$request_uri;
        proxy_ssl_server_name on;
        proxy_store {{ http.server.proxy_store }}/conda.anaconda.org$uri;
    }

    location @fetch_mirror {
        error_page 404 = @fetch;
        internal;
        log_not_found off;

        proxy_intercept_errors on;
        proxy_next_upstream http_502;
        proxy_pass https://upstream_anaconda/anaconda/cloud$request_uri;
        proxy_ssl_server_name on;
        proxy_store {{ http.server.proxy_store }}/conda.anaconda.org$uri;
    }

    location @fetch_mirror_no_cache {
        error_page 404 = @fetch;
        internal;
        log_not_found off;

        proxy_intercept_errors on;
        proxy_next_upstream http_502;
        proxy_pass https://upstream_anaconda_subset/anaconda/cloud$request_uri;
        proxy_ssl_server_name on;
    }

    location @fetch_nvidia {
        error_page 404 = @fetch;
        internal;
        log_not_found off;

        proxy_intercept_errors on;
        proxy_pass https://mirrors.sustech.edu.cn/anaconda-extra/cloud$request_uri;
        proxy_ssl_server_name on;
        proxy_store {{ http.server.proxy_store }}/conda.anaconda.org$uri;
    }

    location @fetch_nvidia_no_cache {
        error_page 404 = @fetch;
        internal;
        log_not_found off;

        proxy_intercept_errors on;
        proxy_pass https://mirrors.sustech.edu.cn/anaconda-extra/cloud$request_uri;
        proxy_ssl_server_name on;
    }
}

# http://nginx.org/en/docs/http/ngx_http_upstream_module.html
upstream upstream_anaconda {
    keepalive 5;
    resolver 114.114.114.114 ipv6=off;
    {%- for host in conda.mirrors %}
    server {{ host }}:443;
    {%- endfor %}
}

upstream upstream_anaconda_subset {
    keepalive 5;
    resolver 114.114.114.114 ipv6=off;
    {%- for host in conda.mirrors_with_zst %}
    server {{ host }}:443;
    {%- endfor %}
}
