server {
    # http://nginx.org/en/docs/http/ngx_http_core_module.html
    include snippets/ssl.conf;
    server_name github.com;

    location / {
        # http://nginx.org/en/docs/http/ngx_http_proxy_module.html
        proxy_pass https://upstream_github;
    }
    proxy_set_header Host $server_name;
    proxy_ssl_name $server_name;
    proxy_ssl_server_name on;
}

# http://nginx.org/en/docs/http/ngx_http_upstream_module.html
upstream upstream_github {
    keepalive 16;
    {%- for k, v in github.web|dictsort %}
    server {{ k }}:443 weight={{ v }};
    {%- endfor %}
}
