server {
    # http://nginx.org/en/docs/http/ngx_http_core_module.html
    include snippets/ssl.conf;
    resolver 127.0.0.1 ipv6=off;
    server_name github.githubassets.com;

    location / {
        include snippets/static_file_proxy.conf;

        # http://nginx.org/en/docs/http/ngx_http_rewrite_module.html
        if ($args != "") {

            # http://nginx.org/en/docs/http/ngx_http_proxy_module.html
            proxy_pass https://$server_name;
        }
    }

    location @fetch {
        internal;

        # http://nginx.org/en/docs/http/ngx_http_proxy_module.html
        proxy_pass https://$server_name;
        proxy_store {{ http.server.proxy_store }}/$server_name$uri;
    }
}
