server {
    # http://nginx.org/en/docs/http/ngx_http_core_module.html
    listen {{ conda.intel.port }};
    resolver 114.114.114.114 ipv6=off;
    root {{ http.server.proxy_store }}/software.repos.intel.com/python/conda;

    location ~ ^/({{ conda.platforms | join("|") }})/repodata\.json(\.bz2)?$ {
        proxy_pass https://software.repos.intel.com/python/conda$request_uri;
    }

    location ~ \.(conda|tar\.bz2)$ {
        error_page 404 = @fetch;
        log_not_found off;
    }

    location @fetch {
        internal;

        # http://nginx.org/en/docs/http/ngx_http_proxy_module.html
        proxy_pass https://software.repos.intel.com/python/conda$request_uri;
        proxy_store {{ http.server.proxy_store }}/software.repos.intel.com/python/conda$uri;
    }
}
