server {
    # http://nginx.org/en/docs/http/ngx_http_core_module.html
    include snippets/ssl.conf;
    resolver 127.0.0.1 ipv6=off;
    root {{ http.server.proxy_store }}/$server_name;
    server_name zenodo.org;

    location /static/ {
        error_page 404 = @fetch;
        log_not_found off;

        # https://nginx.org/en/docs/http/ngx_http_autoindex_module.html
        autoindex on;
    }

    location @fetch {
        internal;

        # http://nginx.org/en/docs/http/ngx_http_proxy_module.html
        proxy_pass https://$server_name;
        proxy_store {{ http.server.proxy_store }}/$server_name$uri;
    }

    location / {
        proxy_pass https://$server_name;
    }
}
